*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: rgba(130, 150, 188,0.2);
}
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}
nav ul{
    width: 75%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
    text-decoration: none;
    height: 100%;
    padding: 0 30px;
    margin: 10px;
    display: flex;
    justify-content: inline;
    align-items: center;
    color:black;
}
nav a{
    text-decoration: none;
    height: 100%;
    padding:0;
    justify-content: center;
    display: flex;
    align-items: center;
    color:black;
}

nav a:hover{
    background-color: #f0f0f0
}

nav li:first-child{
    margin-right: auto;
}
.sidebar
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    z-index: 999;
    background-color: rgba(240, 251, 255, 0.141);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 90%;
}
.sidebar a{
    width: 100%;
}