<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Student Space
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/student_dashboard.js') }}"></script>
</head>

<body>
    <div class="flex-container">
        <img src="{{ url_for('static', filename='images/file_000000006a748211b9284e07229e915a.png') }}"
            alt="Students Space">
        <ul class="flex-container1">
            <li>Ask</li>
            <li>Learn</li>
            <li>Grow</li>
        </ul>
        <h1 class="flex-container2">Welcome To Students Space</h1>
        <ul id="accordian">
            <li>
                <label for="simple-1">What is Students Space?<span class="arrow"></span></label>
                <input type="checkbox" name="faq" id="simple-1">
                <div class="content">
                    <p>Students space is a platform where students can ask academic questions and get answers from
                        teachers and fellow students.</p>
                </div>
            </li>
            <li>
                <label for="simple-2">How does it works?<span class="arrow"></span></label>
                <input type="checkbox" name="faq" id="simple-2">
                <div class="content">
                    <p>Students post their doubts,teachers and other students can answer them, and unanswere questions
                        are displayed on the Question Wall.</p>
                </div>
            </li>
            <li>
                <label for="simple-3">Why is it important?<span class="arrow"></span></label>
                <input type="checkbox" name="faq" id="simple-3">
                <div class="content">
                    <p>It helps students clear their doubts, improves communication with teachers and makes learning
                        much easier.</p>
                </div>
            </li>

        </ul>

        <div class="flex-item2">

            <a href="{{ url_for('student_login') }}" id="Student">
                Student Login
            </a>

            <a href="{{ url_for('teacher_login') }}" id="Teacher">
                Teacher Login
            </a>

        </div>
    </div>

</body>

</html>